
@{
    ViewBag.Title = "Index";
}

<div>
    <h2>Index</h2>
    
    <a href="@Url.Action("Edit", "Site", new {id = "Michal", age = 26})">Idź do formularza</a>
    <a href="@Url.Action("Index", "Person")">Pokaż listę osób</a>
</div>

